@font-face {
	font-family: 'Ascender-Bold';
	src: url('../assets/font/Ascender-Sans-W01-Bold.otf') format('truetype');
}
@font-face {
	font-family: 'Ascender-Regular';
	src: url('../assets/font/Ascender-Sans-W01-Regular.otf') format('truetype');
}
